@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-950 text-base-50;
}

@layer utilities {
  .clip-corner-lg {
    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
  }

  .clip-corner-md {
    clip-path: polygon(7.5% 0, 100% 0, 100% 92.5%, 92.5% 100%, 0 100%, 0 7.5%);
  }

  .clip-corner-sm {
    clip-path: polygon(5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 5%);
  }

  /* clips only the bottom right corner */
  .clip-corner-br-md {
    clip-path: polygon(0 0, 100% 0, 100% 92.5%, 92.5% 100%, 0 100%, 0 7.5%);
  }

  /* clips only the top left corner */
  .clip-corner-tl-sm {
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 5%);
  }

  /* clips only the top right corner */
  .clip-corner-tl-hero {
    clip-path: polygon(2% 0, 100% 0, 100% 100%, 0 100%, 0 5%);
  }

  .grid-cols-inherit {
    grid-template-columns: inherit;
  }

  .preserve-line {
    @apply after:inline-block after:content-[""];
  }
}

::-webkit-scrollbar {
  @apply h-1.5 w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-800 hover:bg-base-700 rounded-full;
}
